agentsyn-workflow-crm.json
{
    "name": "AgentSyn-Synergos",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ef270b01-9c77-45d3-9e6b-67183746f597",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "name": "Webhook Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -1088,
                160
            ],
            "id": "d21004fb-849c-49be-ae39-3755eefc6aad",
            "webhookId": "ef270b01-9c77-45d3-9e6b-67183746f597"
        },
        {
            "parameters": {
                "modelName": "models/gemini-flash-latest",
                "options": {
                    "temperature": 0.3
                }
            },
            "name": "Google Gemini Pro",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -960,
                384
            ],
            "id": "e458276f-1234-5678-9abc-def012345678",
            "credentials": {
                "googlePalmApi": {
                    "id": "r4E19RS4Asl29p3f",
                    "name": "Google Gemini (Synergos)"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "synergos_chat"
            },
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                -768,
                368
            ],
            "id": "2a5c9d74-ef98-4777-a520-445fb8ad931a"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.output }}",
                            "operation": "contains",
                            "value2": "[[DOC]]"
                        }
                    ]
                }
            },
            "name": "¿Es Documento?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -496,
                128
            ],
            "id": "0b13e4ec-a13a-4e21-9766-199548f25d3f"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.output || $json.text || \"⚠️ Error: No response generated by AI.\" } }}",
                "options": {}
            },
            "name": "Respuesta Solo Texto",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                -128,
                224
            ],
            "id": "1bf07f6c-3659-4aad-98be-36ff8bd2c938"
        },
        {
            "parameters": {
                "jsCode": "const rawText = $input.first().json.output;\nconst cleanText = rawText.replace('[[DOC]]', '').trim();\nconst filename = `Documento_Legal_${new Date().getTime()}.txt`;\nconst binaryData = Buffer.from(cleanText).toString('base64');\nreturn [{ json: { fileName: filename }, binary: { data: { data: binaryData, mimeType: 'text/plain', fileName: filename } } }];"
            },
            "name": "Limpiar y Crear Archivo",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -224,
                32
            ],
            "id": "ad8825f3-dd52-429f-82ee-f8ae2f02b78f"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": \"✅ Documento generado con éxito.\", \"downloadLink\": \"data:text/plain;base64,\" + $binary.data.data, \"fileName\": $json.fileName } }}",
                "options": {}
            },
            "name": "Respuesta con Descarga",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                16,
                16
            ],
            "id": "ddc54d59-30e7-4678-8882-1c284e5eadae"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ ($json.body && $json.body.chatInput) || ($json.body && $json.body.message) || ($json.query && $json.query.chatInput) || $json.chatInput || \"Hola (Fallback)\" }}",
                "options": {
                    "systemMessage": "ERES: Synergos, la IA principal de la agencia \"Synergos Solutions\", creada por el CEO Adalberto Vargas.\n\nTU MISIÓN:\nPotenciar a firmas legales y contables a través de la implementación estratégica de IA y automatización, permitiéndoles alcanzar nuevos niveles de eficiencia y relevancia.\n\nTU PROMESA:\n\"Impulsamos tu eficiencia y modernizamos tu presencia a través de soluciones de IA personalizadas y branding estratégico\".\n\nTU PERSONALIDAD:\n1. Visionario/Innovador: Siempre un paso adelante. Hablas de futuro y tecnología[cite: 1122].\n2. Transformador: Te enfocas en resultados tangibles, ROI y crecimiento[cite: 1123].\n3. Socio/Colaborador: Eres cercano y accesible. No eres un robot frío, eres un aliado estratégico[cite: 1124].\n\nTU TONO DE VOZ:\nExperto pero cercano, innovador pero práctico.\n- NO USES jerga legal ni médica.\n- USA lenguaje de negocios: \"Escalar\", \"Automatizar\", \"Oferta Irresistible\", \"Embudo\", \"Posicionamiento\".\n\nA QUIÉN LE HABLAS (TU PÚBLICO):\n1. \"Andrés\" (El Socio Previsor): 40-50 años. Es pragmático. Busca eficiencia y seguridad. Dale confianza y pasos claros[cite: 1113].\n2. \"Valentina\" (La Visionaria): 20-30 años. Quiere innovar. Dale argumentos poderosos para convencer a sus jefes[cite: 1116].\n\nINSTRUCCIONES DE RESPUESTA:\n- Si te saludan, preséntate como Synergos, el estratega de negocios de Adalberto Vargas.\n- Si te piden ayuda legal, responde: \"Mi especialidad es hacer crecer tu negocio y automatizar tu firma. Para temas jurídicos, consulta nuestra Suite Legal\".\n- Sé directo, usa listas (bullet points) y enfócate en CÓMO GANAR MÁS DINERO O AHORRAR TIEMPO.\n"
                }
            },
            "name": "AgentSyn-Synergos",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                -832,
                32
            ],
            "id": "3f3dd16f-985f-472b-ac8d-40e8a4d9a4cf"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO crm_leads (tenant_id, session_id, created_at) \nVALUES ((SELECT id FROM tenants WHERE slug = 'synergos' LIMIT 1), $1, NOW())\nON CONFLICT (tenant_id, session_id) DO UPDATE SET last_seen_at = NOW()\nRETURNING id;",
                "additionalFields": {
                    "queryParams": "={{ $('Webhook Chat').first().json.body.sessionId || $('Webhook Chat').first().json.query.sessionId || 'FALLBACK-SESSION-ID' }}"
                }
            },
            "name": "Upsert Lead",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                -640,
                -160
            ],
            "id": "crm-db-insert-lead",
            "credentials": {
                "postgres": {
                    "id": "lIjFDyrvYf2yhQBv",
                    "name": "Neon DB"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO crm_messages (lead_id, role, content) VALUES \n($1, 'user', $2),\n($1, 'assistant', $3);",
                "additionalFields": {
                    "queryParams": "={{ $json.id }},{{ $('Webhook Chat').first().json.body.chatInput || 'No Input' }},{{ $('AgentSyn-Synergos').first().json.output || 'No Output' }}"
                }
            },
            "name": "Save Chat History",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                -320,
                -160
            ],
            "id": "crm-db-insert-msg",
            "credentials": {
                "postgres": {
                    "id": "lIjFDyrvYf2yhQBv",
                    "name": "Neon DB"
                }
            }
        }
    ],
    "connections": {
        "Webhook Chat": {
            "main": [
                [
                    {
                        "node": "AgentSyn-Synergos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "AgentSyn-Synergos",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AgentSyn-Synergos",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AgentSyn-Synergos": {
            "main": [
                [
                    {
                        "node": "¿Es Documento?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Lead": {
            "main": [
                [
                    {
                        "node": "Save Chat History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Es Documento?": {
            "main": [
                [
                    {
                        "node": "Limpiar y Crear Archivo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respuesta Solo Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limpiar y Crear Archivo": {
            "main": [
                [
                    {
                        "node": "Respuesta con Descarga",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}