agente-landing-workflow.json
{
    "name": "agente landing",
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.query.message }}",
                "options": {
                    "systemMessage": "=Agente Cierre-de-Consultas\n1. ROL Y MISIÓN ÚNICA: Eres un Asistente de Estrategia IA dentro de la Landing Page de mi agencia. Tu ÚNICA misión es lograr que el usuario agende la \"Consulta Estratégica Gratuita\". No estás aquí para charlar, estás para convertir. Cada respuesta es un paso hacia esa consulta.\n\n2. CONOCIMIENTO CLAVE (Tu Arsenal):\n\nOferta: Automatización con Agentes IA y Workflows N8N.\nResultados: +300% ROI, Automatización 24/7, Implementación en 7 días.\nProceso: 3 pasos (Consulta -> Diseño -> Lanzamiento).\nCTA Principal: \"Programa tu Consulta Gratis\".\n3. REGLAS DE ORO (Tus Órdenes):\n\nSIEMPRE Termina con el CTA: Cada respuesta, sin excepción, debe guiar hacia la consulta. Ejemplo: \"...eso es algo que definimos en la consulta estratégica gratuita. ¿Estás listo para agendarla y ver tu potencial de ROI?\".\nResponde, no Divagues: Usa el Conocimiento Clave para responder preguntas de forma directa y corta. Si preguntan por el precio, responde: \"Es personalizado para tu ROI. Lo definimos en la consulta gratuita para darte un plan exacto. ¿Agendamos?\".\nDesvía lo Irrelevante: Si preguntan algo fuera de tema, responde: \"Mi foco es mostrarte cómo podemos multiplicar tus resultados. El primer paso es la consulta. ¿Quieres agendarla?\".\n\n\nEste es el Hero del sitio web:\n\"\"\"\nTransformamos tu\nNegocio con IA\nAutomatizamos tus procesos más críticos con Lead Generation Agents, Customer Support IA y N8N Workflows que generan resultados 24/7\n\"\"\"\n\nLa finalidad es aumentar el porcentaje de conversión y clic en el call to action (CTA). Necesito que seas persuasivo y respondas preguntas frecuentes. \n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                580,
                0
            ],
            "id": "d863a245-d522-41e1-847b-7e234f4f55a4",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": 5,
                "filters": {
                    "labelIds": [
                        "INBOX",
                        "UNREAD"
                    ]
                }
            },
            "type": "n8n-nodes-base.gmailTool",
            "typeVersion": 2.1,
            "position": [
                640,
                420
            ],
            "id": "24ea8a0d-1569-45bb-833b-f768c1a06786",
            "name": "Get Many",
            "webhookId": "38a04c1f-742f-4e23-a7d6-bbbb8f7cb61c",
            "credentials": {
                "gmailOAuth2": {
                    "id": "75qHNjqGVfvpttM8",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $fromAI(\"to\", \"email address\") }}",
                "subject": "={{ $fromAI('Subject', 'un claro y conciso subject, todo en minusculas') }}",
                "message": "={{ $fromAI(\"Message\", \"el cuerpo del email bien formateado en html con buena estructura\") }}",
                "options": {}
            },
            "type": "n8n-nodes-base.gmailTool",
            "typeVersion": 2.1,
            "position": [
                760,
                420
            ],
            "id": "e172eac1-bd5e-4670-9cf1-b8c109e6a306",
            "name": "send_message",
            "webhookId": "4d8945a5-3610-4feb-baed-8f142a132906",
            "credentials": {
                "gmailOAuth2": {
                    "id": "75qHNjqGVfvpttM8",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "e6b7fd372da588da36547862e830f2a206a72a4678f2a00e7b04bcae333d82ba@group.calendar.google.com",
                    "mode": "list",
                    "cachedResultName": "EJERCICIO"
                },
                "start": "={{ $fromAI(\"start_event\", \"Determina a qué hora comienza el evento\") }}",
                "end": "={{ $fromAI(\"end_event\",\"Intuye la duracion del evento en base al input del usuario\") }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                900,
                420
            ],
            "id": "bc46be5d-a5f8-42db-a802-736d08a49d42",
            "name": "Google Calendar",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "HS2XnfJeCm6xQoLq",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "danielcarreong00@gmail.com",
                    "mode": "list",
                    "cachedResultName": "danielcarreong00@gmail.com"
                },
                "limit": 10,
                "timeMin": "={{ $fromAI('After', 'añade a partir de hoy', 'string') }}",
                "timeMax": "={{ $fromAI('Before', 'una semana despues', 'string') }}",
                "options": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                1040,
                420
            ],
            "id": "29f2eb16-78d6-4fe5-8ec9-66b925fddcf3",
            "name": "Google Calendar1",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "HS2XnfJeCm6xQoLq",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                460,
                220
            ],
            "id": "0d7fc1a8-31aa-48d0-928c-f3fc27ea5627",
            "name": "OpenAI Chat Model1",
            "credentials": {
                "openAiApi": {
                    "id": "faFt6zZckTCq9A7E",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                0
            ],
            "id": "92f8105b-d8b6-44f0-9f90-672e0ef9d391",
            "name": "Webhook",
            "webhookId": "781a6827-a1a3-4be2-ad88-276f538b2b74"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.2,
            "position": [
                1140,
                -20
            ],
            "id": "f94ac8a2-2190-4a15-805e-56f3ad7bccd4",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.query.sessionId }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                600,
                220
            ],
            "id": "f7575724-5293-46fa-ac19-3c4a8cbcdef4",
            "name": "Simple Memory"
        }
    ],
    "pinData": {},
    "connections": {
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Many": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "send_message": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Calendar1": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "115b34a2-d0cc-4631-bc44-846391f418a2",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "8220e5fed25105bd0c986cabd12ec960c65dd403a7c727206e68b89e6315bdd2"
    },
    "id": "lRt9Is2nkz0ATDn2",
    "tags": []
}